.imagenBsAs{
    height: auto;
    width: auto;
    opacity: 50%;
}
.container {
    position: absolute;
}

.backgroud1{
    background-image: url(/img/ba1.jpg);
}

.padding{
    padding-top: 25px;
    padding-inline-start: 50px;
}
.bottomright {
    height: auto;
    width: auto;
    position: absolute;
    text-align: center;
    bottom: 450px;
    right: 300px;
    font-size: 18px;
    color: white;    
}

.bottom{
    position: absolute;
    bottom: 400px;
    right: 300px;
    font-size: 18px;
}
.wrap-texto{    
    color: white;
    text-align: center;
    width: 50%;    
}