.imagenBsAs{
    height: auto;
    width: auto;
}

.contenedor {
    position: relative;
}

.padding{
    padding-top: 25px;
    padding-inline-start: 50px;
}

.margin{
    margin-left: 250px;
}

.background1{
    background: rgb(14, 3, 165);
}

.bottomright {
    height: auto;
    max-width: 600px;
    min-width: 400px;
    margin-left: 950px;
    margin-top: 500px;
    position: absolute;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.904);
}

.bottom{
    height: auto;
    width: auto;
    position: absolute;
    margin-top: 700px;
    margin-left: 1300px;
    font-size: 18px;
}

.position-center{
    width: auto;
    margin-right: 350px;
    margin-left: 350px;
    margin-bottom: 20px;
}

.bottom-1{
    padding-bottom: 25px;
}

.espacio{
    padding-top: 25px;
}

.margin1{
    margin-left: 250px;
    margin-right: 250px;
}

.padding2{
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 25px;
}

.padding3{
    padding-left: 100px;
    padding-right: 30px;
}

.padding4{
    padding-right: 50px;  
}

.padding4-1{
    padding-right: 30px;
}

.padding5{
    padding-right: 100px;
    padding-left: 50px;  
}

* {
    box-sizing: content-box;
}
  
.img-container {
    float: left;
    width: 50%;
    padding: 5px;
}

.text-container{
    float: left;
    height: 600px;
    width: 50%;
    padding: 5px;
    color: white;
    border: 10px rgb(255, 254, 254);  
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }