.imagenBsAs{
    height: auto;
    width: auto;
    opacity: 50%;
}

.contenedor {
    position: relative;
}

.padding{
    padding-top: 25px;
    padding-inline-start: 50px;
}

.bottomright {
    height: auto;
    max-width: 700px;
    min-width: 500px;
    margin: auto;
    position: absolute;
    bottom: 450px;
    right: 300px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.904);    
}

.bottom{
    position: absolute;
    bottom: 400px;
    right: 300px;
    font-size: 18px;
}

.position-center{
    margin-left: 100px;
}

.imgBsAs2{
    float: left;
    height: auto;
    width: auto;
    max-width: 600px;
    min-width: 400px;
}

.letra{
    color: white;
}